
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

.web-body{
		background:linear-gradient(90deg,#fc4a1a,#f7b733);
}
::-webkit-scrollbar {
display: none;
}

@font-face {
    font-family: Berlin;
    src: url(../assets/Berlin.ttf);
}
@font-face {
    font-family: Potra;
    src: url(../assets/Potra.ttf);
}

.main-txt{
	color: #fff;
	text-shadow: 1px 1px 8px rgba(0,0,0,0.3);
	font-family: Potra;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 5px;
	width:230px;
}
.slogan-txt{
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-top: -3.5px;
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		text-shadow: 1px 1px 8px rgba(0,0,0,0.3);
		font-size: 8px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		width:210px;
}
#search-query{
	border-radius: 50px;
	margin: 1px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 2px;
	height: 44px;
	letter-spacing: 0.4px;
	border: none;
	outline: none;
	background-color: #2f3640;
	line-height: 50px;
	padding-left: 22px;
	font-size: 14px;
	width: 280px;
	color: white;
	float: left;
	transition: 0.4s;
}
.search-box{
		box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
	  position: absolute;
		height: 50px;
		width: 340px;
		padding-top: 0;
		border-radius: 40px;
		padding: 2px;
		top: 50%;
		left: 50%;
		z-index: 999;
		transform: translate(-50%,-50%);
		background-color:#2f3640;
		transition: 0.4s;
}
.search-btn{
	-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

	float: right;
	margin: 3px;
	width:40px;
	height: 40px;
	color: #e84118;
	background-color: #fff;
	border-radius: 50%;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-content: center;
}
.search-btn:hover{
	text-decoration: none;
	box-shadow: 0px 0px 20px  #fff;
	color: #353b48;
}
.search-box i{
	text-decoration: none;
	font-size: 15px;
	line-height: 40px;
}
#drop-down{
	float: left;
	margin-top: 8px;
	font-family: 'Montserrat', sans-serif;
	width: 170px;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
	height:40px;
	text-align: center;
	border-radius: 50px;
	color:#7f7f7f;
	outline: none;
	align-content: center;
	background-color: #353b48;
}
.dropdown-menu li{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}
.dropdown-menu li a i{
	line-height: 30px;
}
.conatiner2{
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
footer{
	box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
	padding:10px;
	padding-left: 15px;
	padding-right: 10px;
	position: fixed;
  left: 0;
  bottom: 0;
	z-index: -9;
	transition: 0.4s;
	height: 35px;
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
	align-items: center;
	align-content: center;
}
footer i{
	margin-left: 4px;
	margin-right: 4px;
	float: left;
	margin-top:4px;
	color: red;
	font-size: 10px;
	float: left;
}
footer p{
	font-weight: 600;
	line-height: 18px;
	font-weight: 500;
	letter-spacing: 0.6px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	color: #101010;
}
.stupid{
	width:120px;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
}
.stupid p{
	text-align: center;
	font-size: 12px;
}
.stupid a{
	color:#e84118;
	text-decoration: none;
}
.stupid a:hover{
	text-decoration: none;
}
.aboutt{
	line-height: 12px;
	font-weight: 500;
	background-color: #fff;
	font-size: 12px;
	display: block;
	border: none;
	float: right;
	margin-right: 10px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	outline: none;
	color: #e84118;
}
.aboutt:hover{
	text-decoration: none;
	color:#2f3640;
}
#abouttp{
	background-color: #2f3640;
	width: 340px;
	border-radius: 5px;
	line-height: 25px;
	color: #fff;
	margin-top: -150px;
	margin-right: -2px;
	float: right;
	transition: 5s;
	padding: 12px;
	display: none;
	letter-spacing: 0.6px;
}
.hwrk{
	margin-right: 18px;
	line-height: 12px;
	text-decoration: none;
	outline: none;
	font-weight: 500;
	float: right;
	font-family: 'Montserrat', sans-serif;
	display: none;
	color: #e84118;
}
.hwrk:hover{
	text-decoration: none;
}
.copy{
	position: absolute;
	left: 50%;
	top: 50%;
	display: none;
	transform: translate(-50%,-50%);
	font-size: 8px;
	line-height: 25px;
}
.swal-overlay{
	background-color: rgba(0,0,0, 0.7)
}
.swal-title {
  margin: 0px;
	font-family: 'Montserrat', sans-serif;
  font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
}
.swal-text {
  background-color: #Fff;
  padding: 17px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.65px;
	line-height: 26px;
  display: block;
  margin: 22px;
  text-align: center;
  color: #000;
}


@media screen and (min-width: 600px) and (max-width:1440px) {
 .search-box{
	 width: 440px;
 }
 #abouttp{
	 margin-top: -150px;
 }
 #search-query{
	 width: 88%;
 }
}
@media screen and (min-width: 1440px) and (max-width:2560px) {
	.search-box{
		border-radius: 50px;
 	 width:480px;
	 height: 50px;
  }
  #abouttp{
 	 margin-top: -128px;
  }
  .main-txt{
	 font-size:48px;
	 width:280px;
  }
  #search-query{
		margin-top: -2px;
		padding-left:22px;
		height: 50px;
		font-size: 18px;
		width: 85%;
  }
	.search-btn{
		margin-right: 4px;
		margin-top: 3.5px;
		height: 40px;
		width: 40px;
	}
	.search-btn i{
		font-size: 18px;
		line-height: 40px;
	}
	#drop-down{
		height: 45px;
		width: 180px;
		margin-top: 6px;
		font-size: 16px;
	}
	.dropdown-menu{
			width: 180px;
			font-size: 16px;
	}
}
@media screen and (min-width: 2560px){
	.search-box{
		border-radius: 100px;
 	 width:960px;
	 height: 100px;
  }
  #abouttp{
		margin-top: -295px;
    width: 640px;
		line-height: 55px;
		font-size: 32px;
		padding: 20px;
		font-weight: 400;
		border-radius: 10px;
		margin-right: -5px;
  }
  #search-query{
		border-radius: 100px;
		margin-top: -2px;
		padding-left:34px;
		font-weight: 500;
		height: 100px;
		font-size: 36px;
		width: 85%;
  }
	.search-btn{
		margin-right: 6px;
		margin-top: 6px;
		height: 85px;
		width: 85px;
	}
	.search-btn i{
		font-size: 35px;
		line-height: 85px;
	}
	#drop-down{
		height: 100px;
		width: 320px;
		letter-spacing: .8px;
		font-weight: 500;
		margin-top: 12px;
		font-size: 28px;
	}
  footer{
 		height:100px;
  }
  footer p{
		font-size: 28px;
		font-weight: 500;
 		line-height: 80px;
  }
  footer i{
		margin: 5px;
 		margin-top: 25px;
		font-size: 35px;
  }
	.aboutt{
		font-size: 30px;
		line-height: 80px;
	}
	.hwrk{
		line-height: 80px;
		font-size: 30px;
	}
	.copy{
		font-size: 22px;
	}
	.main-txt{
		font-size: 86px;
		width: 460px;
	}

}
